{% extends "base.html" %}

{% block title %} Audio2GP {% endblock %}

{% block content %}
<form id="uploadForm" enctype="multipart/form-data" method="POST">
    <div id="dropZone" class="drop-zone">
        <!-- Кнопка для выбора файла -->
        <button type="button" class="file-input" onclick="document.getElementById('fileInput').click();">
            Выбрать файл
        </button>
        <input type="file" id="fileInput" class="file-input" name="file" onchange="uploadFile(event)"
               style="display: none;">
        <!-- Drag & Drop зона -->
        <p>Перетащите файл сюда или нажмите кнопку выше</p>
    </div>
</form>

<div id="responseMessage" style="display: none;">
    <p id="responseText"></p>
</div>

{% if message %}
    <p>{{ message }}</p>
{% endif %}

{% if download_url %}
    <a href="{{ download_url }}">Скачать Guitar Pro файл</a>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/choosefile.js') }}"></script>
<script src="{{ url_for('static', filename='js/dropZone.js') }}"></script>
{% endblock %}