<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Styles for Downloads</title>
    <link rel="stylesheet" href="/home/yuri/AudioToGuitarPro/app/static/css/downloads.css"> <!-- Подключаем файл стилей -->
</head>
<body>

    <table cellpadding="0" cellspacing="0" class="data-table2 dt-files">
        <tbody class="dt-body">
            <tr class="dt-row">
                <td class="dt-col col-10 col-md-12 order-0">
                    <div class="dt-file-name-wrapper">
                        <span class="format-icon f-audio f-mp3"></span>
                        <div class="dt-file-name">
                            <div class="dt-file-name-inner">
                                <span>03_-_Lesson_2_Exs_1-3.mp3</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="dt-col dt-select-source order-3"></td>
                <td class="dt-col text-md-center d-none d-md-table-cell"></td>
                <td class="dt-col dt-col-status text-md-left d-none d-md-table-cell">
                    <span class="ui-badge text-blue">Завершено</span>
                </td>
                <td class="dt-col text-md-right order-2 flex-grow-1">
                    <span class="text-nowrap dt-meta dt-meta-size">MP3 / 3.62 MB</span>
                </td>
                <td class="dt-col order-3"></td>
                <td class="dt-col dt-btn text-right order-3">
                    <a href="#" class="btn btn-sm btn-blue">Скачать</a>
                </td>
                <td class="dt-col order-1 col-2 col-md-auto text-right"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>
